.layout{
    display:flex;
    height:100vh;
    background:#f6f8fc;
}

.sidebar{

    width:240px;
    background:white;

    border-right:1px solid #ececec;

    padding:30px 22px;

    display:flex;
    flex-direction:column;

}

.logo{

    font-size:34px;
    font-weight:700;

    margin-bottom:8px;

}

.role{

    color:#6b7280;

    margin-bottom:35px;

    font-size:15px;

}

.sidebar nav{

    display:flex;
    flex-direction:column;

    gap:10px;

}

.link{

    text-decoration:none;

    color:#374151;

    padding:14px 18px;

    border-radius:10px;

    transition:.25s;

    font-weight:500;

}

.link:hover{

    background:#eef2ff;

}

.active{

    text-decoration:none;

    background:#111827;

    color:white;

    padding:14px 18px;

    border-radius:10px;

    font-weight:600;

}

.content{

    flex:1;

    overflow-y:auto;

}

.logout{

    margin-top:auto;

    border:none;

    cursor:pointer;

    background:#ef4444;

    color:white;

    padding:13px;

    border-radius:10px;

    font-size:15px;

}